<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.vegetables.mapper.PosGoodsTableMapper">
  <resultMap id="BaseResultMap" type="com.system.vegetables.entity.PosGoodsTable">
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="pos_id" jdbcType="INTEGER" property="posId" />
  </resultMap>
  <insert id="insert" parameterType="com.system.vegetables.entity.PosGoodsTable">
    insert into pos_goods_table (goods_id, pos_id)
    values (#{goodsId,jdbcType=INTEGER}, #{posId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select goods_id, pos_id
    from pos_goods_table
  </select>
</mapper>